.time-period-sub {
  border: 1px solid black;
  height: 450px;
  border-top: none;
}
.timeline-wrapper {
  overflow-x: scroll;
  flex-shrink: 1;
}
.timeline-wrapper::-webkit-scrollbar {
  display: none;
}

.timeline-table {
  width: max-content;
  border-collapse: collapse;
}

.timeline-table tfoot th {
  text-align: center;
}

.time-period-sub:nth-child(2n + 1) {
  border-left: none;
}

.time-period-sub:nth-child(2n) {
  border-right: none;
}

.time-period-sub:nth-child(1) {
  border-top: none;
  border-bottom: none;
}

.timeline-table-before {
  width: 225px;

  flex-shrink: 0;
}

.timeline-underlying {
  display: flex;
}

.ant-btn {
  margin: 5px;
  font-size: 10px;
  font-weight: 700;
  color: rgb(68, 67, 67);
  border: none;
  background-color: rgb(238, 238, 162);
}

.ant-btn-sm {
  height: 15px;
  padding: 0px 5px;
}

.cordinating_body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: flex-start;
}

.rt-manual,
.timeline-underlying {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.rt-manual {
  z-index: 100;
}
.routing-container {
  padding: 5px;
}

.dr-container {
  padding-left: 5px;
  padding-right: 5px;
}

.capacity-header-container {
  padding-right: 0px;
}

.rt-cus-clicked {
  box-shadow: none;
  background-color: whitesmoke;
}


