.time-period-sub {
  border: 1px solid black;
  height: 200px;
}
.timeline-wrapper {
  overflow-x: scroll;
  flex-shrink: 1;
}

.timeline-table {
  width: max-content;
  border-collapse: collapse;
}

.time-period-sub:nth-child(2n + 1) {
  border-left: none;
}

.time-period-sub:nth-child(2n) {
  border-right: none;
}

.time-period-sub:nth-child(1) {
  border-top: none;
  border-bottom: none;
}

.timeline-table-before {
  width: 150px;
  padding: 40px;
  flex-shrink: 0;
}

.timeline-underlying {
  display: flex;
}
